@import '../../styles/settings.scss';
.component{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    animation: slideIn 1s ease-out;
    padding: 24px 0;
    text-align: center;
    font-size: 120px;
}

@media (max-width: 768px) {
    .component {
        margin-top: 260px;
        font-size: 36px;


        }
    }